html,body{height:100%;}

body{
	font-family: "Segoe UI", Helvetica, sans-serif;
	background-color:#f8fffd;
	margin:10px 0;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{color:#546392;}

.bar1, .bar2, .bar3{
	width:30px;
	height:4px;
	background-color:black;
	margin:4px 0;
	transition:0.4s;
	border-radius:2px;
}

@media screen and (max-width:770px){
	#links{
		display:none;
		position:absolute;
		overflow:hidden;
		height:0;
		right:0;
		top:50px;
		transition:height 0.5s;
		z-index:1;
		width:100%;
		text-align:center;
		background-color:rgba(248,255,253,0.5);
		-webkit-backdrop-filter:blur(5px);
		backdrop-filter:blur(5px);
		padding:0 0 10px 0;
	}
}


@media screen and (max-width:380px){
	#links{background-color:#F8FFFD;}
}