html{
	height:100%;
}

body{
	font-family: Candara, sans-serif;
	background-image: url("paperBack.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.taskInput, #addButton{
	background-color: rgba(0,0,0,0);
}

.taskInput{
	font-family: Candara, sans-serif;
	font-size: 1.1em;
	border-style: none;
	border-bottom-style:solid;
	width:90%;
	padding: 5px 0 5px 5px;
}

input[type=text]:hover{
	color: #55aaff;
}

input[type=image]{
	position: relative;
	left: -20px;
	width: 20px;
	height: 20px;
	display: none;
}

#container, #container2, #buttonHolder{
	margin: 20px 40px;
}

#buttonHolder{
	height: 40px; 
	position: relative;
}

#addButton{
	position: absolute;
	right: 80px;
	bottom: 10px;
	border-style:solid;
	border-color:black;
	color:black;
	border-width: 2px;
	border-radius: 6px;
	font-size: 1.1em;
}

h1,h2{
	text-align: center;
}

.deleteButton{
	background-color: red;  
	color:white;  
	padding:5px;
	display: none;
	font-size:1.1em;
}

@media screen and (max-width:850px){
	.deleteButton{
		display: block;
		position:relative;
		left:60px;
	}

	.taskDiv{
		display: flex;
		overflow-x: scroll;
	}

	.taskInput{
		width: 100%;
	}

	::-webkit-scrollbar {
		width: 0px;
		display:none;
	}

	input[type=checkbox]{
		width:1.5em;
		height:1.5em;
		margin:0 15px 0 0;
	}
}

@media screen and (max-width:650px){
	body{
		font-size:1.2em;
		padding: 10px 20px;
	}

	#addButton{
		right: 0px;
	}

	.deleteButton{
		left:70px;
	}

	input[type=checkbox]{
		width:1.8em;
		height:1.8em;
	}
}