div{
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	padding: 15px;
}

.gridContainer{
	display: grid;
	grid-template-columns: auto auto;
	border-style:none;
	grid-column-gap:10px;
	grid-row-gap:10px;
}

div p{
	margin: 5px 0;
}

.twoCols{
	grid-column:1/span 2;
}

h1, h2, h3, h4{
	color:#006848;
}

hr{
	background-color:#006848;
}

a{
	text-decoration:none;
	color:#006848;
}

a:hover{
	color:royalblue;
}

#buttonsContainer{
	border-style:none;
	text-align:center;
}

.buttonz{
	width:80px;
	margin:10px;
	font-family:Times;
	font-size:1em;
}

@media print{
	#buttonsContainer{
		display:none;
	}
}

@media screen and (max-width:450px){
	.gridContainer{
		display:flex;
		flex-direction:column;
		grid-row-gap:5px;
	}
}

@media screen and (max-width:400px){
	#skills{
		padding:0; 
	}

	div{
		padding:5px;
		border-width:2px;
	}
}

@media screen and (max-width:320px){
	body{
		font-size:0.9em;
	}
	
	div{
		padding:2px;
	}
}